.folder {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(122, 104, 122, 0.5);
  border-radius: 4px;
  box-shadow: 0 0 5px 2px rgba(33, 33, 33, 0.507);
  max-width: 600px;
  position: relative;
}

.folder-name {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #F6F9F4;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  background-color: #232623bd;
  justify-content: center;
}

.folder-items {
  background-color: rgba(54, 69, 59, 0.80);
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 600px;
  max-height: 600px;
  min-height: 48px;
}


.folder-items::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(255, 255, 255, 0);
}

.folder-items::-webkit-scrollbar-thumb {
  background-color: rgba(209, 199, 211, 0.383);
  border-radius: 10px;
}

.folder-items::-webkit-scrollbar-track {
  background-color: rgba(71, 71, 71, 0.301);
  border-radius: 10px;
}
