#Settings-Button {
  position: fixed;
  bottom: 2em;
  left: 2em;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  background-image: url("../assets/settings-icon.png");
}

#Settings-Button:hover {
  cursor: pointer;
}

#Settings-Button:focus {
  outline: 0;
}

#background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}